@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
body * {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  outline: hidden;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.block-button--bgnone {
  padding: 18px 34px;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 0px;
  align-self: center;
  transition: all 0.4s;
}
.block-button--bgnone:hover {
  background: #fff;
  color: #000;
}

.block-button--bgnone:hover {
  border: 1px solid rgb(255, 255, 255);
}

.block-subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.block-button--bg-orange {
  background: #EF6D58;
  border-radius: 6px;
  padding: 9px 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  white-space: nowrap;
}

.block-button--bg-bn {
  padding: 9px 18px;
  font-size: 16px;
  color: #FFFFFF;
}

.block-button--bg-orange:hover {
  background: #dc4932;
}

.sample {
  display: flex;
  padding: 100px 0;
}
.sample__main {
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  max-width: 500px;
}
.sample__main--right {
  margin: 0 0 0 0;
  padding: 0 0 0 170px;
}
.sample__subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.sample__title {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  letter-spacing: -1px;
  color: #391400;
  margin: 20px 0;
  line-height: 64px;
}
.sample__title--white {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  letter-spacing: -1px;
  color: #ffffff;
  margin: 20px 0;
  line-height: 64px;
}
.sample__two-subtitle {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
.sample__text {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(57, 20, 0, 0.64);
  margin: 18px 0 34px 0;
}
.sample__text--white {
  font-size: 16px;
  margin: 18px 0 34px 0;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.sample__button {
  max-width: 138px;
  max-height: 48px;
  padding: 18px 0px;
  display: flex;
  justify-content: center;
  background: #fff;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #391400;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  transition: all 0.3s;
}
.sample__button:hover {
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.318);
}
.sample__a {
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.sample__a:hover {
  text-shadow: 1px 3px 9px rgba(57, 20, 0, 0.185);
}
.sample__list {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.sample__li {
  display: flex;
  align-items: center;
}
.sample__li img {
  max-height: 32px;
  padding: 0 16px 0 0;
}
.sample__li p {
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.sample__card {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #F3D1BF;
}
.sample__card--white {
  background: #fff;
}
.sample__card-image {
  padding: 0 0 20px 0;
}
.sample__card-image img {
  max-width: 80px;
}
.sample__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
  padding: 20px 0;
}
.sample__card-text {
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
}
.sample__comment {
  display: flex;
  padding: 30px 0;
}
.sample__comment-main {
  padding: 0 0 0 20px;
}
.sample__comment-text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(57, 20, 0, 0.64);
  max-width: 400px;
}
.sample__comment-name {
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.sample__comment-text--white {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.64);
  max-width: 400px;
}
.sample__comment-name--white {
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

html, body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  background: #28293E;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}
.menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}
.menu__button {
  align-self: flex-start;
}
.menu__list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-left: 50px;
}
.menu__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 45px;
  padding: 10px 0;
}
.menu__list a {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.main {
  max-width: 513px;
}
.main__title {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #FFFFFF;
  position: relative;
}
.main__text {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.64);
  margin: 17px 0 34px 0;
}
.main__buttons {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.main__button {
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
}
.main__button:first-child {
  margin: 0 37px 0 0;
}

.burger {
  overflow: auto;
  z-index: 49;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.burger__span {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 50;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  border-radius: 6px;
  padding: 1px 5px;
}

.burger__span span {
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: all 0.5s;
}

.burger__span span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.burger__span span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.burger__list {
  padding: 15px 15px 15px 30px;
  background: #28293E;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.burger__list li {
  margin: 15px 1px;
}
.burger__list a {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #FFFFFF;
}

.burger__button {
  margin: 20px 0;
}

.burger.active {
  transform: translateX(0);
}

.burger__list li {
  list-style-type: none;
}

.burger__span.active {
  position: fixed;
  right: 10px;
}

.burger__span.active span:nth-of-type(1) {
  display: none;
}

.burger__span.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.burger__span.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.page {
  background: #FDF0E9;
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  flex-wrap: wrap;
}
.company__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

hr {
  border-top: 1px solid #F3D1BF;
}

.expirience-count {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.expirience-count__block {
  padding: 45px;
}
.expirience-count__block:last-child {
  border: 1px solid #F3D1BF;
}
.expirience-count__block:first-child {
  border: 1px solid #F3D1BF;
}
.expirience-count__block:not(:last-child, :first-child) {
  border-top: 1px solid #F3D1BF;
  border-bottom: 1px solid #F3D1BF;
}
.expirience-count__count {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
}
.expirience-count__title {
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}

.how-work {
  padding: 100px 0;
}
.how-work__count {
  padding: 0 0 0 40px;
}
.how-work__block {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px 0;
  width: 100%;
}
.how-work__number {
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  color: #391400;
  padding: 0 26px 0 0;
  width: 10%;
}
.how-work__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}

.video-reel__video {
  padding-bottom: 10px;
}
.video-reel__video img {
  border-radius: 5px;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.263);
}

.under-features__main {
  padding: 0 40px 0 0;
}
.under-features__two-subtitle {
  padding: 30px 0;
}
.under-features__cards {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
.under-features__card {
  max-width: 336px;
  align-self: flex-end;
}
.under-features__card--none {
  padding-top: 80px;
}

.under-service {
  flex-direction: column;
}
.under-service__a {
  padding: 25px 0 0 0;
}
.under-service__cards {
  padding: 35px 0 40px 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.page-dark {
  background: #3A3C56;
}
.portfolio {
  display: flex;
  flex-direction: column;
  padding: 90px 0;
  align-items: center;
}
.portfolio__button {
  margin-top: 65px;
}
.portfolio__main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolio__main-subtitle {
  text-align: center;
}
.portfolio__main-title {
  text-align: center;
}
.portfolio__main-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.portfolio__main-li {
  position: relative;
  padding: 10px 15px;
  margin: 0 15px;
  display: flex;
}
.portfolio__main-text {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
.portfolio__main-li:hover .portfolio__main-text {
  color: #fff;
}
.portfolio__main-li:hover .portfolio__main-count {
  color: #fff;
}
.portfolio__main-count {
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 14px;
  line-height: 0px;
  color: rgba(255, 255, 255, 0.64);
}
.portfolio__grid {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "one two two" "three three four";
}
.portfolio__grid * {
  transition: all 0.4s;
}
.portfolio__grid--element {
  padding: 15px;
  position: relative;
}
.portfolio__grid--element img {
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.portfolio__grid--element:hover img {
  filter: brightness(100%);
}
.portfolio__grid--element:first-child {
  grid-area: one;
}
.portfolio__grid--element:nth-child(2) {
  grid-area: two;
}
.portfolio__grid--element:nth-child(3) {
  grid-area: three;
}
.portfolio__grid--element:last-child {
  grid-area: four;
}
.portfolio__grid--container {
  position: absolute;
  left: 48px;
  bottom: 50px;
}
.portfolio__grid--button {
  background: #ecebeb;
  border-radius: 19px;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
  padding: 5px 12px;
  max-height: 38px;
}
.portfolio__grid--button:hover {
  background: #ffffff;
}
.portfolio__grid--title {
  margin-top: 20px;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  display: block;
}

@media screen and (max-width: 1160px) {
  .sample__image img {
    width: 100%;
  }
  .sample__main--right {
    padding: 0 0 0 40px;
  }
  .under-features {
    flex-direction: column;
  }
  .under-features__cards {
    justify-content: flex-start;
  }
  .under-features__a {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 960px) {
  .menu__list {
    display: none;
  }
  .menu__button {
    display: none;
  }
  .company {
    justify-content: center;
  }
  .company__block {
    width: 33%;
  }
  .sample {
    flex-direction: column;
  }
  .sample__image {
    display: flex;
    justify-content: center;
  }
  .sample__image img {
    max-width: 50%;
  }
  .sample__main {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  .sample__main--right {
    padding: 0 0 0 0px;
  }
  .sample__text--white br {
    display: none;
  }
  .item {
    flex-direction: column-reverse;
  }
  .expirience-count__block:last-child {
    border: 1px solid #F3D1BF;
  }
  .expirience-count__block:first-child {
    border: 1px solid #F3D1BF;
  }
  .expirience-count__block:not(:last-child, :first-child) {
    border-right: 1px solid #F3D1BF;
    border-left: 1px solid #F3D1BF;
  }
  .how-work__count {
    padding: 50px 0 30px 0;
  }
  .how-work__number {
    font-size: 60px;
  }
  .how-work__text {
    font-size: 20px;
  }
  .features {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 890px) {
  .item {
    flex-direction: column-reverse;
  }
  .item__image {
    display: flex;
    justify-content: center;
  }
  .item__image img {
    max-width: 200px;
  }
  .main {
    max-width: 100%;
  }
  .main__title {
    font-size: 56px;
  }
  .main-comment {
    align-items: flex-start;
  }
  .main-comment__logo {
    padding-top: 10px;
  }
  .company {
    justify-content: center;
  }
  .company__block {
    width: 50%;
  }
  .sample {
    padding: 40px 0;
  }
  .sample__subttile {
    font-size: 16px;
    line-height: 32px;
  }
  .sample__title {
    font-size: 35px;
    line-height: 48px;
  }
  .sample__two-subtitle {
    font-size: 20px;
    line-height: 32px;
  }
  .sample__text {
    font-size: 16px;
    line-height: 32px;
  }
  .sample__image {
    display: flex;
    justify-content: center;
  }
  .sample__image img {
    max-width: 40%;
    margin-bottom: 15px;
  }
  .under-features__cards {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .under-features__card {
    align-self: start;
  }
  .under-service__cards {
    display: grid;
    grid-template-columns: 100%;
  }
  .portfolio__button {
    margin-top: 15px;
  }
  .portfolio__grid {
    grid-template-areas: "one" "two" "three" "four";
    grid-template-rows: 300px 300px 300px 300px;
  }
}
@media screen and (max-width: 690px) {
  .expirience-count {
    grid-template-columns: 50% 50%;
  }
  .sample__image img {
    max-width: 330px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 550px) {
  .expirience-count {
    grid-template-columns: 100%;
  }
  .portfolio__grid--element {
    padding: 15px 0;
  }
  .portfolio__grid--element img {
    border-radius: 7px;
  }
  .portfolio__grid--container {
    position: absolute;
    left: 20px;
    bottom: 50px;
  }
}
@media screen and (max-width: 450px) {
  .company {
    justify-content: center;
  }
  .company__block {
    width: 100%;
  }
  .main__title {
    font-size: 36px;
    line-height: 44px;
  }
  .main__button {
    width: 50%;
  }
  .main__button:first-child {
    margin: 0px;
  }
  .sample__image {
    display: flex;
    justify-content: center;
  }
  .sample__image img {
    max-width: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 961px) {
  .burger {
    display: none;
  }
  .burger__span {
    display: none;
  }
}